extends ./layout.pug

block contenido
	div(class="col-md-6 remove-float mx-auto big-top-space")
		form(action="/users", method="POST")
			div.form-group
				label(for="email") Email
				input(type="text", name="email", placeholder="Email", id="email").form-control
			div.form-group
				label(for="password") Contrase単a
				input(type="password", name="password", placeholder="contrase単a", id="password").form-control
			div.form-group
				label(for="password") Confirma contrase単a
				input(type="password", name="password_confirmation", placeholder="Confirma contrase単a", id="password").form-control
			div.form-group
				label(for="username") Username
				input(type="username", name="username", placeholder="username", id="username").form-control
			div.row.top-space
				div.col-xs-12.col-sm-6
					button(type="submit", class="btn btn-primary") Iniciar Sesion
				div.col-xs-12.col-sm-6.text-right
					a(href="/login") Ya tengo un cuenta